@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
body {
    background-color: #ffffff;
    text-align: center;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
}

:root {
    --white: #ffffff;
    --tranparent: rgba(255, 255, 255, 0.15);
    --active: #17BEBB;
    --grey: #003B4D;
    --arrow: #17BEBB;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 148%;
    margin: 0px 0px 10px 0px;
    color: var(--white);
}
h2 {  
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

@media only screen and (max-width: 767px) {
    .container {
        margin: 0px 15px;
        width: calc(100% - 30px);
    }
}